
            #nav{
                 border: 2px solid green;
            }
            #upperhalf{
                height:auto;
            }
            #lowerhalf{
                border: 2px solid red;
                height:auto;
            }

            footer {
                display: table;
                text-align: center;
                margin-left: auto;
                margin-right: auto;
            }
            img.icon{
                height:30px;
                width:32px;
            }
            img {
                height:300px;
                width:300px;
            }
            table,th,tr,td{
                border:2px solid black;
            }
            tr,td {
                width:15%;
            }
            .complete{
                color: darkgreen;
            }
            .incomplete{
                color:red;
            }
            #me{
                display: block;
                margin: 0 auto;
            }
            #summary{
                text-align:center;
                width:400px;
                margin: 0 auto;
            }
