
            #nav{
                 border: 2px solid green;
            }
            #upperhalf{
                position: relative;

            }
            #upperhalf::after{
                content:"";
                display:block;
                top:0;
                left:0;
                position: absolute;
                background-image: url("img/sjsuimg.png");
                background-size:cover;
                background-repeat: no-repeat;
                background-position:100% 100%;
                opacity: .6;
                width:100%;
                height:100%;
                z-index:-1;
            }
            #email{
                color:black;
            }
            #lowerhalf{
                border: 2px solid red;
                height:auto;

            }
            #info{
                border: 3px solid purple;
            }
            #buttons{
                text-align: center;
                margin: 0 auto;
                padding-top: 1%;
                padding-bottom: 2%;
            }
            .btn{
                background-color: cornflowerblue;
                color:black;
                margin:10px;
            }
            #skillset{
                border: 2px solid yellow;
            }
            #education{
                border: 2px solid green;
            }
            #summary{
                border: 2px solid red;
                margin:0 auto;
                text-align: center;
            }
            footer {
                display: table;
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                clear:both;
                background-color: cornflowerblue;
                border-radius: 25px;
            }

            img.icon{
                height:30px;
                width:32px;
            }
            img {
                height:300px;
                width:300px;
            }
            table,th,tr,td{
                padding:-25px;
                border:2px solid black;
            }
            tr,td {
                width:25%;
            }
            th{
                background-color: cornflowerblue;
            }
            #me{
                display: block;
                margin: 0 auto;
            }
